.header-part{
  background-color: #EE1C241A;
}
.tx-blac{
  color: #464646;
}
.ads-body{
  background-color: #F5F6FA;
}
.tx-gray{
  color: #ABAFB3;
}
.tx-lighter{
  color: #717f92;
}
.card-height{
  height: 100%;
}
.vert-container{
  position: relative;
}
.vert-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.tx-un{
  text-decoration: underline!important;
}
.primary-bg{
  background-color: #FFF1D5!important;
  min-height: 100vh;
}
.bg-primary{
  background: #2E5BFF!important;
}
.welcome-div{
  transform: translateY(20%);
  /* top: 50%; */
}
.welcome-reg-div{
  transform: translateY(5%);
  /* top: 50%; */
}

.animate__animated{
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.footer{
  background-color: #1C1C1D;
}
.footer-link li a{
  color: #fff!important;
  text-transform: capitalize;
}
.footer-link li{
  margin-bottom: 10px;
}
.footer-label{
  text-transform: capitalize;
}
.tx-light-blue{
  color: #D8FFEF;
  text-transform: capitalize;
}
.login-bg{
  background: url('../img/Login\ image@2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.login-side{
  height: 100vh;
}
.close-btn{
  color: #AF0606;
  border: 2px solid #AF0606;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  opacity: 1;
  font-size: 1.5rem;
  padding-left:3.2px ;
}
.close-btn:hover{
  color: #8b0707;
}
.nav-tabs .nav-link.reg.active{
  background-color: #8b0707;
  color: #fff;
}
.nav-tabs .nav-link.reg{
  padding: 0 48px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}
.aside-header{
  background-color: #05154E!important;
  border-bottom: 0;
}
.aside-body{
  background-color: #05154E!important;
  border-top: 0;
  padding: 25px 0px!important;
}
.nav-menu{
  border-top: 2px solid#f2f5f99c!important;
  border-bottom: 2px solid#f2f5f99c!important;
  padding: 25px 40px!important;
  min-height: 60vh;
}
.logo{
  max-width: 250px!important;
  margin-left: -50px;
  /* height:100px */
}
.aside-header{
  height: 80px!important;
}
.shadow-dash{
  box-shadow: 0px 5px 20px #0000000A;
}
.content-body{
  background-color: #FBFCFD!important;
}
.nav-aside .nav-item.active .nav-link::before{
  background-color: transparent!important;
  opacity: 1;
}
.nav-aside .nav-item.active .nav-link{
  color: #fff!important;
  background: #2E5BFF!important;
  border-radius: 5px;
}
.nav-aside .nav-link{
  padding: 1.5rem 1rem;
  color:#fff;
}
.nav-aside .nav-item.active .nav-link::before{
  border-left: 5px solid  #2E5BFF!important;
}
.bg-blue{
  background-color: #4847E0;
}
.tx-green{
  color: #029557;
}
.tx-greenish{
  color: #00C1D4;
}
.bg-greenish{
  background-color: #00C1D4;
}
.bg-bluish{
  background-color: #2E5BFF1A;
}
.bg-purple{
  background-color: #8C54FF;
}
.bg-yellow{
  background-color: #F7C137;
}
.tx-pink{
  color: #FF2366;
}
.tx-green-light{
  color: #43B345;
}
.bg-green{
  background-color: #00DEA5;
}
.bg-purple{
  background-color: #995BF5;
}
.bg-pink{
  background-color: #FF9196;
}
.bg-coffee{
  background-color: #FCEBC0;
}
.bg-gray{
  background-color: #F5F6FA;
}
.bg-invoice{
  background-color: #F8622655!important;
}
.bg-transaction{
  background-color: #FFB60065!important;
}
.bg-customer{
  background-color: #1DB93145!important;
}
.bg-profile{
  background-color: #007FD73C!important;
}
.bg-bluish{
  background-color:#E0E7FF;
}
/* Style the active class (and buttons on mouse-over) */
.card-active, .card-active:hover {
  border: 1px solid #AF0606;
}
.card-active .check {
  fill:  #AF0606;
  color: #fff;
}
.check{
  fill: #e5e5e5;
  color: #fff;
}
.badge-pink{
  background-color: rgba(177, 30, 30, 0.2);
  color: #B11E1E;
  border-radius: 4px;
  padding: 5px 8px;
  font-weight: 400;
}
.badge-active{
  background-color:#E9F5EE;
  color: #0F743A;
  border-radius: 4px;
  padding: 5px 8px;
  font-weight: 400;  
}
.card-scroll{
  max-height: 60vh;
  overflow-y: auto;
}
.card-scroll::-webkit-scrollbar {
  width: 5px;
  }
  
  .card-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
  }
  
  .card-scroll::-webkit-scrollbar-thumb {
  background:#AF0606; 
  border-radius: 10px;
  }
  
  .card-scroll::-webkit-scrollbar-thumb:hover {
  background:#690303; 
  }

  .card-scrolll{
    max-height: 70vh;
    overflow-y: auto;
  }
  .card-scrolll::-webkit-scrollbar {
    width: 0px;
    }
    
    .card-scrolll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
    }
    
    .card-scrolll::-webkit-scrollbar-thumb {
    background:#AF0606; 
    border-radius: 10px;
    }
    
    .card-scrolll::-webkit-scrollbar-thumb:hover {
    background:#690303; 
    }

    .card-check:hover{
      border-left: 3px solid #B11E1E;
      border-right: 1px solid #B11E1E;
      border-top: 1px solid #B11E1E;
      border-bottom: 1px solid #B11E1E;
      color: #1E2533;
    }
    .card-check .custom-control-input:checked ~ .custom-control-label::before{
      border-left: 3px solid #B11E1E;
      border-right: 1px solid #B11E1E;
      border-top: 1px solid #B11E1E;
      border-bottom: 1px solid #B11E1E;
      color: #1E2533;
    }
    .card-hei{
      height: 220px;
    }

    .head{
      cursor:pointer;
    }
    .content-card{display:none;}
    .dot {
      height: 4px;
      width: 4px;
      background-color: #2E5BFF;
      border-radius: 50%;
      display: inline-block;
    }
    thead{
      background-color: #F2F5F9;
    }
    #secondImg{
      display: none;
    }
    .neg-div{
      position: absolute;
      z-index: 999;
    }
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .started-btn{
    width: 100%;
  }
  .vert-center{
    position: static;
    top: 100%;
    transform: none;
  }
  .nav-item{
    padding-left: 0;
  }
  .btn-auth{
    margin-bottom: 10px;
    width: 60%;
  }
  .welcome-div{
    transform: translateY(0%);
  }
  .aside-header{
    height: 54px!important;
  }
  .neg-divv{
    margin-top: 0px!important;
  }
  .pad-space{
    padding-right: 20px!important;
  }
  .modal-dialog{
    width: auto!important;
  }
  
}

/* extra large screen  */

@media (min-width: 1530.98px) { 
  .welcome-div{
    transform: translateY(50%);
    /* top: 50%; */
  }
  
}
.card-hover:hover{
box-shadow: 4px 2px 6px #8a8787;
}

.drop-zone-form {
  width: 100%;
  height: auto;
  /* border: 1px dashed #2E5BFF; */
  border-radius: 5px;
  position: relative;
  color: #666;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
}

.drop-zone {
  width: 100%;
  height: auto;
  border: 1px dashed #2E5BFF;
  border-radius: 5px;
  position: relative;
  color: #666;
  overflow: hidden;
  cursor: pointer;
  background: #FFB6003E;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.form-drop{
  height: 100%;
}
.green.custom-control-input:checked ~ .custom-control-label::before{
  background:#00C644!important;
  border-color: #00C644!important;
}
table.dataTable thead th, table.dataTable thead td{
  font-weight: 700;
}
table{
  width: 100%!important;
}
.login-img{
  max-width: 80%!important;
}
.neg-divv{
  margin-top: -200px;
}
.clickable-row:hover{
  cursor:pointer;
  background-color: #FFF1D5!important;
}
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 390px;
  top: 60px;
  height: 90%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}


.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}


.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
   transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal-pink{
  background-color: #FFF1D5!important;
}
.categorize{
  display: none;
}
.nav-tabs .nav-link.cat{
  border: none;
}
.nav-tabs .nav-link.cat.active{
  color: black;
  font-weight: 500;
  box-shadow: 0px 3px 6px #d0d0d0a6;
  background-color: #fff;
}
.nav-tabs .nav-link.cat{
  color: #B2C2CDAD;
  background-color: #F2F5F9;
}
#new-category, #new-categor{
  display: none;
}
.nav-aside .nav-item ul a{
  color: white;
}
.nav-tabs .nav-link.set.active{
  background-color: #2E5BFF;
  color: #fff;
}
.nav-tabs .nav-link{
  background-color: transparent;
  border: 0;
}
.bg-tab{
  background-color: #F2F5F9;
}
.list-group-item.prima.active{
  background-color: #CCE3FF!important;
  color: #0E093B!important;
  font-weight: 600;
}
.list-group-item{
  border: none!important;
}
.pro-img{
  height: 170px;
  width: 200px;
  margin-top: -100px;
}
.pro-bg{
  min-height: 120px;
}
.table-preview td, .table-preview th{
  font-size: 12px!important;
}
.table-preview td{
  background-color: #F2F5F9!important;
}
.border-dash{
    border: 1px dashed #e5e5e5;

}
.top-primary{
  border-top: 3px ridge #2E5BFF;
  border-radius: 0;
}
.top-blue{
  border-top: 4px ridge #062289;
}
.wd-68{
  width: 70px;
}
.ui-datepicker {
  z-index: 9999 !important;
}
.btn-outline-light:hover,.btn-outline-dark:hover, .btn-outline-light:focus,.btn-outline-dark:focus{
  background: #2E5BFF;
  color: #fff;
}
.table th, .table td{
  padding: 15px 20px ;
  font-size: 12px;
}
.table th{
  font-weight: 600!important;
  font-size: 13px;
}
.blue-box{
  background-color: #2e5bffa6;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.form-group.col-md-4.pad-space, .form-group.col-md-6.pad-space{
  padding-right: 80px;
}
.form-row > .col, .form-row > [class*="col-"]{
  padding-left: 10px;
  padding-right: 10px;
}
.tx-greenishh{
  color:#435C0F
}
.tx-danger{
  color: #902145;
}
.bd-danger{
  border-color: #902145;
}

.custom-switch.custom-switch-lg {
  padding-left: 1rem!important;
}

.custom-switch.custom-switch-lg .custom-control-label::before {
  height: 1.75rem;
  width: calc(2.55rem + 0.75rem);
  border-radius: 4rem;
}

.custom-switch.custom-switch-lg .custom-control-label::after {
  width: calc(1.7rem - 4px);
  height: calc(1.7rem - 4px);
  border-radius: calc(3rem - (2rem / 2));
}

.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
  transform: translate(1.65rem, -50%);
}
.daterangepicker{
  font-family: 'Mulish', sans-serif!important;

}
.daterangepicker .ranges li.active{
  background-color: #2E5BFF;
}
.light-blue-card:hover{
  background-color: #E3EBFF;
  color: #000!important;
}
.open.dropdown-menu {
  right:0;
  margin-left: 7rem;
}
.open.dropdown-menu.large-dropdown{
  min-width: 12rem;
}
.openn.dropdown-menu {
  right:0;
  margin-left: 5rem;
}
.avatar img{
  border: none;
}
.avatar-sm.tab{
  margin-top: -5px;
}
.tx-dark{
  color: #000;
}
.select2-selection--multiple:before {
  content: "";
  position: absolute;
  right: 7px;
  top: 42%;
  border-top: 5px solid #888;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  /* background: #f1f1f1; */
  color: #ABAFB3;
  position: relative;
  /* margin-top: 10px; */
}

#message p {
  /* padding: 10px 35px; */
  font-size: 12px;
  color: #ABAFB3;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid .fa-check-circle{
  color: green;
}


/* Add a red text color and an "x" when the requirements are wrong */
.invalid .fa-check-circle {
  color: #ABAFB3!important;
}
.invalid{
  color: #ABAFB3;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
  float: right;
  margin-top: 10px;
}
.form-control.border-dash{
  border:1px dashed #435C0F;;
}
.bg-yellow{
  background-color: #FFF1D5;
}
.neg-top{
  margin-top: -3.5rem;
}
.active-dot {
  height: 5px;
  width: 5px;
  background-color: #1DB931;
  border-radius: 50%;
  display: inline-block;
  
}
.tx-active{
  color: #1DB931;
  padding-top: 10px;
}

.rounded-15{
  border-radius: 15px;
}
.cursor:hover{
  cursor: pointer;
}
.bg-add{
  border: 1px solid #E0E7FF;
  background-color: #E0E7FF70;
}
#more-info{
  display: none;
}
.tx-free{
  color: #00BF39;
}
.bg-grey{
  background-color: #FAFAFA;
}
.pay-btn:hover,.pay-btn .custom-radio:hover{
  cursor: pointer!important;
  color: #2E5BFF;
}
.btn-disabled{
  background-color: #BBBBBB;
  color: #fff;
}
.bg-deep-blue{
  background-color: #05154E;
}

.bg-grey-round{
  background-color: #b3b7c9;
  height: 60px;
  width: 60px;
}
.blue-div{
  width:18.5rem;
}
.badge-lightt{
  background-color: #1DB93117;
  border-radius: 5px;
}
.bg-grey-roundd{
  background-color: #b3b7c9;
  height: 45px;
  width: 45px;
}
.tx-whitee{
  color: rgba(255, 255, 255, 0.8);
}
.bg-sky-blue{
  background-color: rgba(13, 58, 219, 1);
}
.bg-blue-2{
  background-color: rgba(9, 41, 156, 1);
}
.bg-blue-3{
  background-color: #06185C;
}
.bg-black-1{
  background-color: #030E36;
}
.bg-chart-red{
  background-color: #FF0000;
}
.dropdown .btn-outline-light:hover{
  background-color: #F2F5F9;
  color: #2E2E2E!important;
}
.tx-red{
  color: #FF0000;
}
.table .detail-row .bd-t-0{
  border:0!important
}
.table{
  margin-bottom: 0;
}
.details-table tr td{
  font-size: 14px;
}
/* .sub-input:checked ~ .sub-input::before{
  background-color: #00C644;
} */